@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Code:ital,wght@0,300..800;1,300..800&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Nunito";
    font-weight: 300;
    /* font-size: 16px; */
}

a {
    text-decoration: none;
    font-weight: 600;
}

h1 {
    color: #25343F;
    font-family: "Nunito";
    /* stroke: rgb(255, 255, 255);
    stroke-width: 15; */
}

p {
    color: #797f85;
}

img {
    max-width: 100%;
}

.wrapper {
    /* background: linear-gradient(180deg, rgba(173, 173, 173, 1) 0%, rgba(120, 144, 150, 1) 100%); */
    background: #EAEFEF;
    width: 100%;
}

.container {
    width: 100%;
    margin: 0 auto;
}

header {
    position: fixed;
    padding: 15px 25px;
    background: #FF9B51;
    z-index: 3;
    width: 100%;
    top: 0;
}

header .logo {
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 800;
}

header nav {
    position: relative;
    top: 8px;
    right: 50px;
    /* padding-top: 90%; */
    float: right;
    width: 50%;
}

header nav ul {
    /* list-style: none; */
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
    /* position: relative; */
}

header nav ul li {
    display: block;
    position: relative;
}

header nav ul li a {
    color: black;
    position: relative;
}

/* 
header nav ul li.active::after {
    content: '';
    display: block;
    width: 80%;
    height: 5px;
    background: #ffffff;
    border-radius: 15px;
    position: relative;
    left: 12.5%;
} */

/* header nav ul li.active {
    text-shadow: 0px 0px 5px #ffffff;
} */

header nav ul li a {
    transition: border-bottom 50ms ease-out;
}

header nav ul li a:hover {
    border-bottom: 5px solid #434343;
    width: 90%;
}

.bg1 {
    opacity: 0.5;
    /* background: #000000; */
    position: absolute;
    /* width: 100%; */
    min-width: 1000px;
    /* top: 265px; */
    top: -40px;
    clip-path: polygon(0 40px, 100% 40px, 100% 540px, 0 540px);
    /* display: block;
    margin-left: auto;
    margin-right: auto; */
}

.bglayout {
    background: #25343F;
    position: relative;
    height: 500px;
    /* top: 50px; */
    /* clip-path: polygon(0 120px, 100% 120px, 100% 800px, 0 800px); */
}

.hero {
    /* padding-bottom: 100px; */
    position: relative;
}

.hero--info {
    width: 100%;
    margin: 50px 50px;
    padding: 25px;
    background: #f7fcff;
    box-shadow: 0px 0px 15px #25343F;
    border: solid 5px #25343F;
}

.hero--info h1 {
    color: #25343F;
    font-size: 80px;
    font-weight: 800;
}

.hero--info p {
    color: #25343F;
    font-size: 30px;
    font-weight: 400;
}

.aboutme {
    /* padding-bottom: 500px; */
    /* top: 50px; */
    position: relative;
    /* display: inline-block; */
}

.aboutme li {
    display: inline-flex;
    justify-content: space-between;
    /* align-self: center; */
}

.aboutme--info {
    width: 70%;
    /* height: 340px; */
    margin-top: 50px;
    margin-left: 50px;
    margin-bottom: 50px;
    padding: 25px;
    background: #f7fcff;
    box-shadow: 0px 0px 15px #25343F;
    border: solid 5px #25343F;
    max-width: 400px;
    /* max-height: 340px; */
}

.aboutme--info h1 {
    color: #25343F;
    font-size: 50px;
    font-weight: 800;
    text-align: center;
}

.aboutme--info p {
    color: #25343F;
    font-size: 20px;
    font-weight: 400;
}

.aboutme--links {
    position: relative;
    /* display: inline-block; */
    /* top: -450px; */
    /* left: 60%; */
    /* padding-top: 90%; */
    /* float: middle; */
    justify-content: space-between;
    width: 150px;
    /* height: ; */
    margin: 50px 50px;
    padding: 10px;
    background: #f7fcff;
    box-shadow: 0px 0px 15px #25343F;
    border: solid 5px #25343F;
    max-width: 400px;
}

.aboutme--links ul {
    /* list-style: none; */
    /* left: 10px; */
    /* display: flex; */
    /* justify-content: space-between; */
    position: relative;
}

.icon-link {
    width: 25px;
    height: 25px;
    padding: 0 5px;
    /* top: 5px; */
    /* left: 50px; */
    /* align-self: center; */
    /* display: flex; */
}

.aboutme--links ul li {
    /* display: ; */
    /* position: relative; */
    display: inline-flex;
    justify-content: space-between;
    /* text-align: center; */
}

@media screen and (max-width: 900px) {

    header nav .open-menu-button {
        border: 0;
        line-height: 2.5;
        padding: 0 20px;
        font-size: 1rem;
        text-align: center;
    }

    header nav {
        display: block;
        position: fixed;
        background: white;
        /* top: 8px; */
        /* padding-top: 90%; */
        /* float: right; */
        left: 0;
        top: 0;
        width: 300px;
        height: 100%;
        /* display: flex; */
        /* align-items: center; */
        /* flex-direction: column; */
    }

    header nav ul {
        /* display: block; */
        position: fixed;
        /* background: white; */
        /* top: 8px; */
        /* padding-top: 90%; */
        /* float: right; */
        left: 0;
        top: 25%;
        width: 300px;
        height: 50%;
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    /* header nav ul li { */
    /* display: block; */
    /* position: relative; */
    /* background: white; */
    /* top: 8px; */
    /* padding-top: 90%; */
    /* float: right; */
    /* left: 0; */
    /* top: 0; */
    /* width: 100%; */
    /* height: 100%; */
    /* } */
}